
// custom vars
$imgfolder: '../img';

$tcg-colors: (
	orange: #ff640b,
	red: #f11f1f, 
	green: #69b504, 
	yellow: #e7b900, 
	blue: #0086dd,
	lightyellow: #e7d075,
	darkgrey: #404040, 
	lightgrey: #cccccc, 
	white: white,
	black:black
); 

// COLORS
$tcg-red: map-get($tcg-colors, red);
$tcg-orange: map-get($tcg-colors, orange);
$tcg-yellow: map-get($tcg-colors, yellow);
$tcg-green: map-get($tcg-colors, green);
$tcg-blue: map-get($tcg-colors, blue);
$tcg-darkgrey: map-get($tcg-colors, darkgrey);
$tcg-lightgrey: map-get($tcg-colors, lightgrey);
$tcg-white: map-get($tcg-colors, white);
$tcg-black: map-get($tcg-colors, black);

// RGB
$shadow-rgb: 0,0,0;
$glow-rgb: 255,255,255;




$tcg-border-color: map-get($tcg-colors, lightgrey);
$tcg-border-color-dark: #070d0c;
$tcg-border-radius: 0.25rem;



// color var overrides

$body-bg:					#fafafc;
$accent-bg:					#ffffff;
$body-color:				#303030;
$primary:					$tcg-blue;
$secondary:					#176092;
$success:   			    $tcg-green;
$info:          			dodgerblue;
$warning:       			$tcg-yellow;
$danger:        			$tcg-red;


// font var (overrides
$font-size-base: 			1rem;


$h1-font-size:				$font-size-base * 2;
$h2-font-size:				$font-size-base * 1.75;
$h3-font-size:				$font-size-base * 1.5;
$h4-font-size:				$font-size-base * 1.25;
$h5-font-size:				$font-size-base * 1.15;
$h6-font-size:				$font-size-base;

// link style overrides
$link-color:                var(--primary);
$link-decoration:           none;
$link-hover-color:          darken($primary,10%);
$link-hover-decoration:     none;


// Alerts
$alert-bg-level:                    -11;
$alert-border-level:                -9;
$alert-color-level:                 5;

// navbar var overrides
$navbar-brand-font-size: 	1.25rem;
$navbar-toggler-font-size: 	.9rem;
$navbar-light-toggler-border-color: transparent;



// button overrides

$btn-border-radius: 		0.25rem;


// table overries

$table-cell-padding:		.5rem;
$table-cell-padding-sm: 	.25rem;

$table-border-width:		1px;
$table-color:				inherit;
$table-bg:                  transparent;


// Inputs

$input-color:						var(--body-color);
$input-group-addon-bg:				var(--tcg-border-darker-color);
$input-group-addon-border-color:	var(--tcg-border-darker-color);
$input-placeholder-color:			var(--tcg-lightgrey);

$form-feedback-icon-valid-color:    var(--tcg-green);
$form-feedback-icon-invalid-color:  var(--tcg-orange);

$component-active-color:      var(--accent-bg);
$component-active-bg:         $tcg-yellow;




// Dropdown menu container and contents.

$dropdown-color:                    var(--body-color);
$dropdown-bg:                       var(--accent-bg);
$dropdown-border-color:             var(--tcg-border-color);
$dropdown-divider-bg:               var(--tcg-border-color); 
$dropdown-box-shadow:               0px 1px 5px #{'rgba(var(--shadow-rgba),0.075)'};

$dropdown-link-color:               var(--body-color);
$dropdown-link-hover-color:         var(--body-color);

$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           var(--tcg-yellow);


// List group

$list-group-bg: 					var(--accent-color);
$list-group-border-color: 			var(--list-group-border-color);
$list-group-active-bg:				var(--tcg-yellow);



@mixin linear-bg($direction,$color_start,$color_end){
    background-image: -webkit-linear-gradient($direction, $color_start, $color_end);
    background-image: -moz-linear-gradient($direction, $color_start, $color_end);
    background-image: -ms-linear-gradient($direction, $color_start, $color_end);
    background-image: -o-linear-gradient($direction, $color_start, $color_end);   
	background-image: linear-gradient($direction, $color_start, $color_end);
}

@mixin transition($element, $time) {
	-webkit-transition: $element $time ease-in-out;
    -moz-transition: $element $time ease-in-out;
    -o-transition: $element $time ease-in-out;
    transition: $element $time ease-in-out
}


         
:root {	
	--body-bg: #{$body-bg};
	--body-color: #{$body-color};
	--accent-bg: #{$accent-bg};
	--tb-border-color: #{$tcg-border-color};
	--tb-border-darker-color: #{$tcg-lightgrey};
	--options-bar-bg: #{lighten($tcg-lightgrey,15%)};
	--shadow-glow-rgba: 255,255,255;
	--shadow-rgba: 0,0,0;
	--tcg-red: #{$tcg-red};
	--tcg-orange: #{$tcg-orange};
	--tcg-green: #{$tcg-green};
	--tcg-yellow: #{$tcg-yellow};
	--tcg-lightgrey: #{$tcg-lightgrey};
	--tcg-darkgrey: #{$tcg-darkgrey};
	--table-accent-rgb: 0,0,0;
	--list-group-bg: #{$accent-bg};
	--list-group-border-color: #{$tcg-border-color};
}


@each $name, $color in $tcg-colors {
	.tcg-#{$name} { color: var(--tcg-#{$name}) !important; }
	.bg-tcg-#{$name} { background-color: var(--tcg-#{$name}) !important; }
}

