@import "vars_orange";


// HEADLINES
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-shadow: 0 1px 2px #{'rgba(var(--shadow-rgba), 0.33)'}; 
}
 

// LINKS
a {
	@include transition(all, 0.2s);
	&:hover {

	}
	&.img-link {
		border: 0px;
		display: inline-block;
	}
}


// BUTTONS GENEREAL
body .btn{
    
	
	&:hover {
	}
	
    &-primary  {
		box-shadow: 0 1px 4px -2px var(--primary);
	}
	
    &-secondary  {
		box-shadow: 0 1px 4px -2px var(--secondary); 
	}
	
    &-dark  {
		box-shadow: 0 1px 4px -2px var(--gray-dark); 
	}
	
	&-warning  { 
		box-shadow: 0 1px 4px -2px var(--warning); 
	}
     
    &-danger  {
		box-shadow: 0 1px 4px -2px var(--danger); 
	}
	
}




// import all of bootstrap
//@import "../../vendor/bootstrap-4.6.2/scss/bootstrap";
@import "../../vendor/bootstrap-4.6.2/scss/functions";
@import "../../vendor/bootstrap-4.6.2/scss/variables";
@import "../../vendor/bootstrap-4.6.2/scss/mixins";
@import "../../vendor/bootstrap-4.6.2/scss/root";
@import "../../vendor/bootstrap-4.6.2/scss/reboot";
@import "../../vendor/bootstrap-4.6.2/scss/type";
@import "../../vendor/bootstrap-4.6.2/scss/images";
@import "../../vendor/bootstrap-4.6.2/scss/code";
@import "../../vendor/bootstrap-4.6.2/scss/grid";
@import "../../vendor/bootstrap-4.6.2/scss/tables";
@import "../../vendor/bootstrap-4.6.2/scss/forms";
@import "../../vendor/bootstrap-4.6.2/scss/buttons";
@import "../../vendor/bootstrap-4.6.2/scss/transitions";
@import "../../vendor/bootstrap-4.6.2/scss/dropdown";
@import "../../vendor/bootstrap-4.6.2/scss/button-group";
@import "../../vendor/bootstrap-4.6.2/scss/input-group";
@import "../../vendor/bootstrap-4.6.2/scss/custom-forms";
@import "../../vendor/bootstrap-4.6.2/scss/nav";
@import "../../vendor/bootstrap-4.6.2/scss/navbar";
@import "../../vendor/bootstrap-4.6.2/scss/card";
@import "../../vendor/bootstrap-4.6.2/scss/breadcrumb";
@import "../../vendor/bootstrap-4.6.2/scss/pagination";
@import "../../vendor/bootstrap-4.6.2/scss/badge";
@import "../../vendor/bootstrap-4.6.2/scss/jumbotron";
@import "../../vendor/bootstrap-4.6.2/scss/alert";
@import "../../vendor/bootstrap-4.6.2/scss/list-group";
@import "../../vendor/bootstrap-4.6.2/scss/utilities";
